<ngx-spinner type="ball-beat"></ngx-spinner>
<div class="grid-container">
    <h4 class="mat-h1">Nosotros</h4>
        <mat-grid-list cols="2" rowHeight="440px">
            <mat-grid-tile colspan={{colspanOne}} rowspan=1>
                <mat-card class="dashboard-card">
                    <mat-card-header>
                        <mat-card-title>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <div>.....</div>
                    </mat-card-content>
              
                </mat-card>
            </mat-grid-tile>
          
      
          <mat-grid-tile colspan={{colspanTwo}} rowspan=1>
            <mat-card class="dashboard-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title>
                 
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                banner
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>

        
      
        </mat-grid-list>
        
     

      <!-- <mat-grid-list cols="3" rowHeight="150px">
        <mat-grid-tile colspan={{colspanThree}} rowspan=1>
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
               
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>whatsapp   contactoshipments.cl</div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list> -->




</div>

