<mat-toolbar class="toolbar">
  <a routerLink=""><img mat-card-sm-image class="otrologo"></a>
  <!-- <span routerLink="">SHIPP</span> -->
  <button 
      (click)="drawer.toggle()"
      mat-icon-button
      class="burger">
      <mat-icon>menu</mat-icon>
  </button>

  <div class="spacer"></div>

  <!-- ENVIO -->
  <button mat-button class="menutext butonenvio" *ngIf="!isLoggedIn" routerLink="login">
    Haz tu envío
  </button>

  <button mat-button [matMenuTriggerFor]="envio" class="menutext butonenvio" *ngIf="isLoggedIn">
    Haz tu envío<i class="bx bx-caret-down"></i>
  </button>
  <mat-menu #envio="matMenu">
    <button mat-menu-item routerLinkActive="mat-accent" routerLink="envio-unitario">Envío unitario</button>
    <button mat-menu-item routerLink="mision-vision" routerLink="envio-multiple">Envío Múltiple</button>
    <button mat-menu-item routerLink="mision-vision" routerLink="envio-masivo">Carga masiva</button>
  </mat-menu>

  <!-- INICIO -->
  <a mat-button class="toolBarButton" routerLink="">Inicio</a>

  <!-- EMPRESA -->
  <button mat-button [matMenuTriggerFor]="empresa" class="menutext toolBarButton">
    Empresa<i class="bx bx-caret-down"></i>
  </button>
  <mat-menu #empresa="matMenu" class="toolBarButton">
    <button mat-menu-item routerLinkActive="mat-accent" routerLink="nosotros">Nosotros</button>
    <button mat-menu-item routerLink="mision-vision">Misión Visión</button>
  </mat-menu>

  <!-- RECURSOS -->
  <button mat-button [matMenuTriggerFor]="recursos" class="menutext toolBarButton">
    Recursos<i class="bx bx-caret-down"></i>
  </button>
  <mat-menu #recursos="matMenu">
    <button mat-menu-item routerLinkActive="mat-accent" routerLink="preguntas-frecuentes">Preguntas frecuentes</button>
    <button mat-menu-item routerLinkActive="mat-accent" routerLink="cargas-prohibidas">Cargas prohibidas</button>
    <button mat-menu-item routerLinkActive="mat-accent" routerLink="embalaje-etiquetado">Embalaje y etiquetado</button>
    <button mat-menu-item routerLinkActive="mat-accent" routerLink="encuentra-tu-etiqueta">Encuentra tu etiqueta</button>
    <button mat-menu-item routerLinkActive="mat-accent" routerLink="excepciones-de-servicio">Excepciones de servicio</button>
  </mat-menu>
  
  <!-- CONTACTO -->
  <a mat-button class="toolBarButton"  routerLinkActive="mat-accent" routerLink="contacto">Contacto</a>
  
  <!-- SALUDO -->
  <button mat-button [matMenuTriggerFor]="menu" class="menutext hola">
    ¡Hola {{ saludo }}!<i class="bx bx-caret-down"></i>
  </button>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item  routerLinkActive="mat-accent" routerLink="login" *ngIf="!isLoggedIn">Inicia sesión</button>
    <button mat-menu-item *ngIf="!isLoggedIn" routerLink="crear-cuenta">Crea tu cuenta</button>
    <button mat-menu-item *ngIf="isLoggedIn" routerLink="cuenta">Cuenta</button>
    <button mat-menu-item *ngIf="isLoggedIn" routerLink="mis-solicitudes">Mis solicitudes</button>
    <button mat-menu-item routerLink="salir" *ngIf="isLoggedIn">Salir</button>
  </mat-menu>
  
    <a mat-card-avatar class="avatar menutext" *ngIf="isLoggedIn"></a>

</mat-toolbar>


<mat-drawer-container class="container" [hasBackdrop]="mdcBackdrop">
  <mat-drawer #drawer class="drawer" [mode]="drawerMode">
    <div class="sidenav-content">
      <div class="sidebar">
        <ul class="nav-list">
          <!-- INICIO -->
          <li>
            <a routerLink="" (click)="drawer.toggle()">
              <i class="bx bx-home"></i>
              <span class="links_name"></span>
              <i>Inicio</i>
            </a>
          </li>
          <!-- Envios -->
          <li *ngIf="isLoggedIn">
                      <a [matMenuTriggerFor]="envioamenu">
                        <i class="bx bx-box"></i>
                        <span class="links_name"></span>
                        <i>Haz tu envío</i>
                      </a>
                      <mat-menu #envioamenu="matMenu">
                        <button mat-menu-item routerLinkActive="mat-accent" routerLink="envio-unitario" (click)="drawer.toggle()">Envío unitario</button>
                        <button mat-menu-item routerLink="mision-vision" routerLink="envio-multiple" (click)="drawer.toggle()">Envío Múltiple</button>
                        <button mat-menu-item routerLink="mision-vision" routerLink="envio-masivo" (click)="drawer.toggle()">Carga masiva</button>
                      </mat-menu>
          </li>
          <!-- CUENTA -->
          <li *ngIf="isLoggedIn">
            <a routerLink="cuenta" (click)="drawer.toggle()">
              <i class="bx bx-user"></i>
              <span class="links_name"></span>
              <i>Cuenta</i>
            </a>
          </li>
          <!-- MIS SOLICITUDES --> 
          <li *ngIf="isLoggedIn">
            <a routerLink="mis-solicitudes" (click)="drawer.toggle()">
              <i class="bx bx-cog"></i>
              <span class="links_name"></span>
              <i>Mis solicitudes</i>
            </a>
          </li>
          <!-- DASHBOARD -->
          <li *ngIf="isLoggedIn">
            <a routerLink="dashboard" (click)="drawer.toggle()">
              <i class="bx bx-grid-alt"></i>
              <span class="links_name"></span>
              <i>Dashboard</i>
            </a>
          </li>         
          <!-- PAGOS PENDIENTES -->
          <li *ngIf="isLoggedIn">
            <a routerLink="pagos-pendientes" (click)="drawer.toggle()">
              <i class="bx bx-money-withdraw"></i>
              <span class="links_name"></span>
              <i>Pagos Pendientes</i>
            </a>
          </li>
          <!-- EMPRESA -->
          <li>
            <a [matMenuTriggerFor]="empresamenu">
              <i class="bx bx-caret-down"></i>
              <span class="links_name"></span>
              <i>Empresa</i>
            </a>
            <mat-menu #empresamenu="matMenu">
              <button mat-menu-item routerLinkActive="mat-accent" routerLink="nosotros" (click)="drawer.toggle()">Nosotros</button>
              <button mat-menu-item routerLink="mision-vision" (click)="drawer.toggle()">Misión Visión</button>
            </mat-menu>
          </li>
          <!-- RECURSOS -->
          <li>
            <a [matMenuTriggerFor]="recursomenu">
              <i class="bx bx-caret-down"></i>
              <span class="links_name"></span>
              <i>Recursos</i>
            </a>
            <mat-menu #recursomenu="matMenu">
              <button mat-menu-item routerLinkActive="mat-accent" routerLink="preguntas-frecuentes" (click)="drawer.toggle()">Preguntas frecuentes</button>
              <button mat-menu-item routerLinkActive="mat-accent" routerLink="cargas-prohibidas" (click)="drawer.toggle()">Cargas prohibidas</button>
              <button mat-menu-item routerLinkActive="mat-accent" routerLink="embalaje-etiquetado" (click)="drawer.toggle()">Embalaje y etiquetado</button>
              <button mat-menu-item routerLinkActive="mat-accent" routerLink="encuentra-tu-etiqueta" (click)="drawer.toggle()">Encuentra tu etiqueta</button>
              <button mat-menu-item routerLinkActive="mat-accent" routerLink="excepciones-de-servicio" (click)="drawer.toggle()">Excepciones de servicio</button>
            </mat-menu>
          </li>

          <li *ngIf="isAdminIn">
            <a [matMenuTriggerFor]="recursomenu">
              <i class="bx bx-caret-down"></i>
              <span class="links_name"></span>
              <i>Admin</i>
            </a>
            <mat-menu #recursomenu="matMenu">
              <button mat-menu-item routerLinkActive="mat-accent" routerLink="admin-all-solicitudes" (click)="drawer.toggle()">Todas las solicitudes</button>
              <button mat-menu-item routerLinkActive="mat-accent" routerLink="cargas-prohibidas" (click)="drawer.toggle()">Asignar pedido a conductor</button>
              <button mat-menu-item routerLinkActive="mat-accent" routerLink="embalaje-etiquetado" (click)="drawer.toggle()">Conductores</button>
            </mat-menu>
          </li>
          
          <!-- CONTACTO -->
          <li>
            <a routerLink="contacto" (click)="drawer.toggle()">
              <i class="bx bx-mail-send"></i>
              <span class="links_name"></span>
              <i>Contacto</i>
            </a>
          </li>
          <!-- SALIR -->
          <li *ngIf="isLoggedIn">
            <a (click)="drawer.toggle()">
              <i class="bx bx-log-out" id="log_out"></i>
              <span class="links_name"></span>
              <i routerLink="salir">Salir</i>
            </a>
          </li>
        </ul>
      </div>

      <!-- <div class="drawerButton" >
        <button 
        (click)="drawer.toggle()"
        mat-flat-button  
        routerLinkActive="mat-accent" 
        color="primary" 
        routerLink="home">Home</button>
      </div> -->
      <!-- <div  class="drawerButton">
        <button 
        (click)="drawer.toggle()"
        mat-flat-button  
        routerLinkActive="mat-accent" 
        color="primary" 
        routerLink="content">Content</button>    
      </div> -->
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>