<ngx-spinner type="ball-beat"></ngx-spinner>
<button mat-icon-button matDialogClose style="float: right">
    <mat-icon>close</mat-icon>
</button>

<h2 mat-dialog-title class="spancolor">{{data.name}}</h2>
<div class="container">
    <mat-dialog-content>
        <form [formGroup]="formularioFrecuente">
        <mat-card-content class="dashboard-card-content">
            <!-- nombreFrecuente -->
            <mat-grid-list cols="4" rowHeight="100px">
              <mat-grid-tile colspan="4" rowspan="1">
                <mat-form-field class="full-width-input">
                  <mat-label>Nombre *</mat-label>
                  <input matInput placeholder="Nombre" formControlName="nombreFrecuente">
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
            <!-- correoFrecuente -->
            <mat-grid-list cols="4" rowHeight="100px" class="mat-grid">
              <mat-grid-tile colspan="4" rowspan="1">
                <mat-form-field class="full-width-input">
                  <mat-label>Correo electrónico *</mat-label>
                    <input matInput placeholder="Correo electrónico" formControlName="correoFrecuente">
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
            <!-- celularFrecuente -->
            <mat-grid-list cols="4" rowHeight="100px" class="mat-grid">
              <mat-grid-tile colspan="4" rowspan="1">
                <mat-form-field class="full-width-input">
                  <mat-label>Número de celular *</mat-label>
                    <input matInput placeholder="Ejemplo: 920719251" type="number" formControlName="celularFrecuente">
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
            <!-- COMUNA EMPRESA -->
            <mat-grid-list cols="4" rowHeight="100px" class="mat-grid">
              <mat-grid-tile colspan="4" rowspan="1">
                <mat-form-field class="full-width-input">
                  <mat-label>Comuna</mat-label>
                    <mat-select placeholder="Seleccione una comuna" [(value)]="selectedComunaFrecuente">
                      <mat-option [value]="0">Seleccione...</mat-option>
                      <mat-option *ngFor="let option of optionsFrecuente" [value]="option.idComuna">
                        {{ option.comuna }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
            <!-- DIRECCION -->
            <mat-grid-list cols="4" rowHeight="100px" class="mat-grid">
              <mat-grid-tile colspan="4" rowspan="1">
                <mat-form-field class="full-width-input">
                  <mat-label>Dirección *</mat-label>
                  <input matInput placeholder="Nombre" formControlName="direccionFrecuente">
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button class="button-shipp" (click)="onNoClick()">Salir</button>
        <button mat-button class="button-shipp" (click)="saveFrecuente()">Actualizar</button>
    </mat-dialog-actions>
</div>